PORT=4000
NODE_ENV=development
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=2PTTBfwEwemLPuv.root
DB_PASSWORD=
DB_NAME=lepakshispices
DB_SSL_CA_PATH=E:\lepakshi_spieces\server\certs\tidb-ca.pem
JWT_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
CLOUDINARY_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
