PORT=4000
NODE_ENV=development
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=2PTTBfwEwemLPuv.root
DB_PASSWORD=Baj7n2Ec81sAYiip
DB_NAME=lepakshispices
DB_SSL_CA_PATH=E:\lepakshi_spieces\server\certs\tidb-ca.pem
JWT_SECRET=lepakshi_spices_jwt_secret_key_2026_secure
CLOUDINARY_URL=cloudinary://<537726454575652>:<To6_D3OLMlvEd6yPGxIwLfO7ufs>@tcmtclzy
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=